


%header
  %h2{:style => "color:white;"} Search result for "COMS"

%head
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  :css
    body {
      opacity: 0.7;
      background-image: url('https://www.jakpost.travel/imgfiles/full/55/554021/columbia-university-wallpaper.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      overflow: hidden;
    }

    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      background: white;
    }

%body
  %table{:style => "width:90%"}
    %thead
      %tr
        %th Call#
        %th Class/Title
        %th Instructor
        %th Day
        %th Time/Location
        %th Start/End
        %th Status
    %tbody
      %tr
        %td 
          %a{:href => "link_to_class"} 10020
        %td COMS 1004 S sec:001 INTRO-COMPUT SCI/PROGRAM-
        %td Adam Cannon
        %td Tu Th
        %td 1:00pm-4:10pm BTBA RTBA
        %td 05/26/2020 - 07/02/2020
        %td Restricted
      %tr
        %td 
          %a{:href => "link_to_class"} 10319
        %td COMS 1004 S sec:002 INTRO-COMPUT SCI/PROGRAM-
        %td Paul Blaer
        %td Mo We
        %td 5:30pm-8:40pm BTBA RTBA
        %td 07/06/2020 - 08/14/2020
        %td Restricted
      %tr
        %td 
          %a{:href => "link_to_class"} 10666
        %td COMS 1004 W sec:001 INTRO-COMPUT SCI/PROG IN
        %td Adam Cannon	
        %td Tu Th
        %td 1:00pm-4:10pm BTBA RTBA
        %td 05/26/2020 - 07/02/2020
        %td Open
      %tr
        %td 
          %a{:href => "link_to_class"} 10683
        %td COMS 1004 W sec:002 INTRO-COMPUT SCI/PROGRAM-
        %td Paul Blaer
        %td Mo We
        %td 5:30pm-8:40pm BTBA RTBA
        %td 07/06/2020 - 08/14/2020
        %td Open







